/*****************************************************************************/
/*
/* Bootstrap Overrides
/*
/*****************************************************************************/


/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

html,body { height: 100%; margin: 0px; padding: 0px; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/


/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

#Logo{
    background-color: #000;
    width: 110px;
    text-align: center;
    padding: 30px 0;
    border: 1px solid #666;

}

#Logo h1{
    color: #fff;
    font-size: 40px;
    margin: 0;
    padding: 0;
}

#Side{
    height: 100%;
    padding-top: 20px;
}

#Main{
    height: 100%;
    overflow: scroll;
}

@media (max-width: 767px) {
    #Main{
        overflow: visible;
    }

    #Side{
        height: 70%;
    }
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
#post pre {
  border: 1px solid #ddd;
  background-color: #e3e3e3;
  padding: 0 .4em;
}

#post ul, #post ol {
  margin-left: 1.35em;
}

#post code {
  border: 1px solid #ddd;
  background-color: #e3e3e3;
  padding: 0 .2em;
}

#post pre code {
  border: none;
}

/* terminal */
#post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

#post pre.terminal code {
  background-color: #333;
}