/*****************************************************************************/
/*
/* Bootstrap Overrides
/*
/*****************************************************************************/


/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

html,body { height: 100%; margin: 0px; padding: 0px; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/


/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

#Side{
    height: 100%;
}

#Main{
    height: 100%;
    overflow: scroll;
}

@media (max-width: 768px) {
    #Main{
        overflow: visible;
    }

    #Side{
        height: 70%;
    }
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
#post pre {
  border: 1px solid #ddd;
  background-color: #e3e3e3;
  padding: 0 .4em;
}

#post ul, #post ol {
  margin-left: 1.35em;
}

#post code {
  border: 1px solid #ddd;
  background-color: #e3e3e3;
  padding: 0 .2em;
}

#post pre code {
  border: none;
}

/* terminal */
#post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

#post pre.terminal code {
  background-color: #333;
}