/*****************************************************************************/
/*
/* Bootstrap Overrides
/*
/*****************************************************************************/

a {
    color: #333;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #333;
    text-decoration: underline;
}

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

html,body { height: 100%; margin: 0px; padding: 0px; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

#Home{
    height: 100%;
    padding-top: 20px;
}

#Home .vertical-align{
    height: 50%;
    display: table;
}

#Home h2{
    color: #262626;
    display: table-cell;
    vertical-align: middle;
    margin: 0;
}

#Home footer{
 margin-top: 10%;
}

#Home footer p{
    color: #999;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

#Logo{
    background-color: #000;
    width: 100px;
    text-align: center;
    padding: 15px 0;
    border: 1px solid #666;

}

#Logo h1{
    color: #fff;
    font-size: 40px;
    margin: 0;
    padding: 0;
}

#Side{
    height: 100%;
    padding-top: 20px;
}

#Main{
    height: 100%;
    overflow: scroll;
}

@media (max-width: 767px) {
    #Main{
        overflow: visible;
    }

    #Side{
        height: 80%;
    }
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
#post pre {
  border: 1px solid #ddd;
  background-color: #e3e3e3;
  padding: 0 .4em;
}

#post ul, #post ol {
  margin-left: 1.35em;
}

#post code {
  border: 1px solid #ddd;
  background-color: #e3e3e3;
  padding: 0 .2em;
}

#post pre code {
  border: none;
}

/* terminal */
#post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

#post pre.terminal code {
  background-color: #333;
}