<!-- contenct with us -->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="social-links">
                    <li><a href="https://www.instagram.com/marcoramires/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li>@marcoramires</li>
                    <li><a href="https://twitter.com/marcoramires" target="_blank"><i class="fa fa-twitter"></i></a></li>
                </ul>
                <p class="social-links">© 2017 All rights reserved. Please read our <a href="/terms-conditions/">terms &amp; conditions</a>.</p>
            </div>
        </div>
    </div>
</div>