<!-- contenct with us -->
<footer>
    <ul class="social-links">
        <li>
            <a href="https://www.instagram.com/marcoramires/" target="_blank" rel="noopener">
                {% asset site/002-instagram.svg optim='preset' %}
            </a>
        </li>
        <li>@marcoramires</li>
        <li>
            <a href="https://twitter.com/marcoramires/" target="_blank" rel="noopener">
                {% asset site/001-twitter.svg optim='preset' %}
            </a>
        </li>
    </ul>
    <p>© 2018 All rights reserved. Please read the <a href="/terms-conditions/">terms &amp; conditions</a>.</p>
</footer>
