<div class="burger left">
    <div class="burger__patty"></div>
    <div class="burger__patty"></div>
    <div class="burger__patty"></div>
</div>

<nav class="menu">
    <div class="menu__brand">

    </div>
    <ul class="menu__list">
        {% for item in site.data.navigation.items %}
        <li class="menu__item"><a href="{{ item.url }}" class="menu__link" data-layer="{{ item.layer }}">{{ item.title }}</a></li>
        {% endfor %}
        <li class="menu__item">
            <a href="https://twitter.com/marcoramires" target="_blank" rel="noopener"class="menu__link menu__link--social">Twitter</a>
        </li>
        <li class="menu__item">
            <a href="https://instagram.com/marcoramires/" target="_blank" rel="noopener" class="menu__link menu__link--social">Instagram</a>
        </li>
    </ul>
</nav>
