<!-- Static navbar -->
<nav class="navbar">
    <div class="">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div class="close-nav"></div>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/" class="open-home">Home</a></li>
                <li><a href="#" class="open-layer" data-layer="page-about">About</a></li>
                <li><a href="/#page-about" class="open-layer" data-layer="page-gallery">Gallery</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/#page-contact" class="open-layer" data-layer="page-contact">Contact</a></li>
            </ul>
            <ul class="social-links">
                <li><a href="https://www.instagram.com/marcoramires/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://twitter.com/marcoramires" target="_blank"><i class="fa fa-twitter"></i></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav><!--/.navbar -->