@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

header {
  height: 10vh;
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
}

.logo {
  padding: 1.3em;
  margin: 0;
}

.logo a {
  display: block;
  border: 0;
  overflow: hidden;
  direction: ltr;
  cursor: default;
  text-align: left;
  letter-spacing: 4px;
  width: 100%;
  line-height: 1.3em;
  text-decoration: none;
  font-size: 1.8em;
  font-weight: 300;

  &.right {
    text-align: right;
  }
}

.banner, .content {
  height: 100vh;
}

.content > div {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 20;

  &.col-2 {
    width: 50%;
  }

  &.col-3 {
    width: 33%;
  }

  .block {
    margin: 0 4em;
  }
}

// responsive tablet view
@include tablet {
  header {
    height: 17vh;
  }

  .banner, .content {
    height: 83vh;
  }
}
