@mixin for-phones {
  @media (min-width: 375px) {
    @content;
  }
}

@mixin for-phablets {
  @media (min-width: 400px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

@mixin iPhoneX {
  @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    @content;
  }
}

section.blog {
  padding: 0;

  .post {
    display: flex;
    flex-flow: column;

    &:first-of-type {
      margin-top: 10vh;
      @include for-tablet-portrait-up {
        margin-top: 7vh;
      }
    }

    @include for-tablet-landscape-up {
      flex-flow: row;
    }

    div {
      display: flex;
      height: 45vh;
      width: 100%;
      background: no-repeat center center;
      background-size: cover;
      flex-flow: column;
      overflow: hidden;
      justify-content: center;

      @include for-tablet-portrait-up {
        height: 46.5vh;
      }

      &.description {
        padding: 0 1rem;

        @include for-tablet-portrait-up {
          padding: 0 2rem;
        }
      }
    }
  }
}

section.post {
  padding: 1rem;

  @include for-desktop-up {
    max-width: 1000px;
    margin: 0 auto;
  }
}
