@mixin for-phones {
  @media (min-width: 375px) {
    @content;
  }
}

@mixin for-phablets {
  @media (min-width: 400px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

@mixin iPhoneX {
  @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    @content;
  }
}

section.blog {
  padding: 0;

  @include for-desktop-up {
    //max-width: 1000px;
    //margin: 0 auto;
  }

  .post {

    &:first-of-type {
      margin-top: 11vh;
    }

    div {
      display: flex;
      height: 44.5vh;
      width: 100%;
      background: no-repeat center center;
      background-size: cover;
      flex-flow: column;

      &:last-of-type {
        padding: 1rem;
      }
    }
  }
}
