@mixin for-phones {
  @media (min-width: 375px) {
    @content;
  }
}

@mixin for-phablets {
  @media (min-width: 400px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

@mixin iPhoneX {
  @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    @content;
  }
}

section.blog {
  padding: 0;

  .post {
    display: flex;
    flex-flow: column;

    @include for-tablet-landscape-up {
      flex-flow: row;
    }

    div {
      display: flex;
      height: 44.5vh;
      width: 100%;
      background: no-repeat center center;
      background-size: cover;
      flex-flow: column;
      overflow: hidden;
      justify-content: center;

      @include for-tablet-portrait-up {
        height: 46.5vh;
      }

      @include for-tablet-landscape-up {
        height: 45vh;
      }

      &.description {
        padding: 0 1rem;

        a {
          text-decoration: none;

          &:hover, &:last-of-type {
            text-decoration: underline;
          }
        }

        @include for-tablet-portrait-up {
          padding: 0 2rem;
        }
      }
    }
  }
}

section.post {
  padding: 1rem;
  margin-top: 0;

  @include for-desktop-up {
    max-width: 1000px;
    margin: 0 auto;
  }

  .post-links {
    display: flex;
    flex-flow: column;

    @include for-desktop-up {
      flex-direction: row;
    }

    a {
      display: flex;
      flex-direction: row;
      background-color: #f0f0f0;
      margin-bottom: 1rem;

      &:hover {
        background-color: #ebebeb;

        img {
         opacity: 0.9;
        }
      }

      @include for-desktop-up {
        width: 50%;

        &:nth-child(even) {
          flex-direction: row-reverse;
        }
      }

      img {
        width: 120px;
        height: 80px;
      }

      p {
        margin: 0 1rem;
        font-size: 1.5rem;

        span {
          font-size: 1rem;
        }
      }
    }
  }
}
