@mixin for-phones {
  @media (min-width: 375px) {
    @content;
  }
}

@mixin for-phablets {
  @media (min-width: 400px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

@mixin iPhoneX {
  @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    @content;
  }
}

section.latest {
  padding: 0;

  @include for-desktop-up {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .post {
    display: flex;
    flex-flow: column;

    div {
      display: flex;
      height: 44.5vh;
      width: 100%;
      background: no-repeat center center;
      background-size: cover;
      flex-flow: column;
      overflow: hidden;
      justify-content: center;

      @include for-tablet-portrait-up {
        height: 46.5vh;
      }

      @include for-tablet-landscape-up {
        height: 45vh;
      }

      @include for-desktop-up {
        height: 30vh;
      }

      &:first-of-type {
        @include for-desktop-up {
          height: 60vh;
        }
      }

      &.description {
        padding: 0 1rem;
        text-align: center;

        a {
          text-decoration: none;

          &:hover, &:last-of-type {
            text-decoration: underline;
          }
        }

        @include for-tablet-portrait-up {
          padding: 0 2rem;
        }
      }
    }
  }
}
