@mixin for-phones {
  @media (min-width: 375px) {
    @content;
  }
}

@mixin for-phablets {
  @media (min-width: 400px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

@mixin iPhoneX {
  @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    @content;
  }
}

header {
  height: 11vh;
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;

  @include for-tablet-portrait-up {
    height: 7vh;
  }

  @include for-tablet-landscape-up {
    height: 10vh;
  }
}

.logo {
  margin: 0;
  padding-left: 1rem;
  padding-top: 0.9rem;

  &.tablet {
    display: none;
  }

  @include for-tablet-portrait-up {
    display: none;

    &.tablet {
      display: block;
    }
  }
}

.logo a {
  display: block;
  border: 0;
  overflow: hidden;
  direction: ltr;
  cursor: default;
  text-align: left;
  letter-spacing: 4px;
  width: 100%;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 300;

  &.right {
    text-align: right;
  }
}

.image-cover {
  background: no-repeat center center;
  background-size: cover;
  min-height: 32vh;
  margin-top: 11vh;

  @include for-tablet-portrait-up {
    min-height: 42vh;
    margin-top: 7vh;
  }

  @include for-tablet-landscape-up {
    min-height: 84vh;
  }
}

footer {
  padding: 15px 0;
  text-align: center;

  p {
    font-size: 0.8rem;
  }

  .social-links {
    margin: 10px auto;

    li {
      font-size: 1rem;
      margin: 0 10px;
      display: inline-block;
    }
  }
}
