@mixin for-phones {
  @media (min-width: 375px) {
    @content;
  }
}

@mixin for-phablets {
  @media (min-width: 400px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

@mixin iPhoneX {
  @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    @content;
  }
}

@mixin for-ipad-pro-landscape {
  /* Landscape */
  /* Declare the same value for min- and max-width to avoid colliding with desktops */
  /* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
  @media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    @content;
  }
}

@mixin for-ipad-pro-portrait { /* Portrait */
  /* Declare the same value for min- and max-width to avoid colliding with desktops */
  /* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
  @media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    @content;
  }
}

body {
}

header {
  height: 11vh;
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;

  @include iPhoneX {
    height: 9vh;
  }

  @include for-phablets {
    height: 10vh;
  }

  @include for-tablet-portrait-up {
    height: 75px;
  }
}

section {
  &:first-of-type {
    margin-top: 11vh;

    @include iPhoneX {
      margin-top: 9vh;
    }

    @include for-phablets {
      margin-top: 10vh;
    }

    @include for-tablet-portrait-up {
      margin-top: 75px;
    }
  }

  &.image-cover {
    background: no-repeat center center;
    background-size: cover;
    min-height: 32vh;

    @include for-tablet-portrait-up {
      min-height: 42vh;
    }

    @include for-tablet-landscape-up {
      min-height: 81vh;
    }
  }
}

.logo {
  margin: 0;
  padding-left: 1rem;
  padding-top: 0.7rem;

  &.tablet {
    display: none;
  }

  @include for-tablet-portrait-up {
    display: none;

    &.tablet {
      display: block;
    }
  }
}

.logo a {
  display: block;
  border: 0;
  overflow: hidden;
  direction: ltr;
  cursor: default;
  text-align: left;
  letter-spacing: 0.184211em;
  width: 100%;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 700;

  &.right {
    text-align: right;
  }

  @include for-phones {
    font-size: 2.2rem;
  }
}

footer {
  padding: 15px 0;
  text-align: center;

  p {
    font-size: 0.8rem;
  }

  .social-links {
    margin: 10px auto;

    li {
      font-size: 1rem;
      margin: 0 10px;
      display: inline-block;

      img {
        height: 20px;
        vertical-align: middle;
      }
    }
  }
}
