---
layout: default
title:  "Marco Ramires | Blog"
description: "Blog by photographer Marco Ramires. All the images you see on the site are for sale."
---
<section class="blog">
    {% for post in paginator.posts %}
        <!-- post -->
        <div class="post">
            <div style="background-image: url({% asset blog/{{post.folder}}/{{post.ref}}-1920x1080.jpg @path optim='preset' %})"></div>
            <h1>{{post.title}}</h1>
            <p>{{post.date | date_to_string}} / {{post.author}}</p>
            <p class="blog-post-intro">{{post.excerpt | remove: '
            <p>' | remove: '</p>' }}</p>
            <a href="{{post.id}}">Full post & more photographs</a>
        </div>
    {% endfor %}

    {% if paginator.total_pages > 1 %}
        <!-- pagination -->
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><p>new posts</p></a>
        {% endif %}
        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><p>old posts</p></a>
        {% endif %}
    {% endif %}
</section>