<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{page.title}}</title>

    <meta property="og:type" content="website">
    <meta property="og:title" content="{{page.title}}">
    <meta property="og:description" content="{{page.description}}">
    <meta property="og:url" content="https://marcoramires.com/blog/">
    <meta property="og:site_name" content="Marco Ramires Photography">
    <meta property="og:image" content="https://marcoramires.com/images/site/pictures/{{page.image}}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@marcoramires">
    <meta name="twitter:title" content="{{page.title}}">
    <meta name="twitter:description" content="{{page.description}}">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    
    <!-- vendor css -->
    <link rel="stylesheet" href="{{site.baseurl}}/styles/vendor.css">
    <!-- slider revolution css -->
    <link rel="stylesheet" href="{{site.baseurl}}/revolution/css/revolution.all.css">
    <!-- main css -->
    <link rel="stylesheet" href="{{site.baseurl}}/styles/main.css">
    
    <!-- Preload -->
    <script src="{{site.baseurl}}/scripts/vendor/pace.min.js"></script>
    <!-- Modernizr -->
    <script src="{{site.baseurl}}/scripts/vendor/modernizr.js"></script>
  </head>
  <body class="new page-blog left-menu">
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- preloader -->    
    <div id="layer-loade">
      <p class="logo-intro">Shoot</p>
    </div>

    <!-- logo -->
    <header>
      <p class="logo"><a href="#" class="open-home"></a></p>
    </header>

    {% include menu_sub.html %}

    <!-- intro -->
    <div class="intro">
      <div class="image-cover" style="background-image: url('{{site.baseurl}}/images/site/pictures/{{page.image}}')">
        <div class="vcenter text-center">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <h1 class="primary-title invert">• toes on<strong>the noes•</strong></h1>
                <p class="post-primary-title invert">#almostdaily #mountaintosurf</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="container container-full">
        {{ content }}
      </div>
    </div>

    <!-- contenct with us -->
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul class="social-links">
              <li><a href="https://www.instagram.com/marcoramires/" target="_blank"><i class="fa fa-instagram"></i></a></li>
              <li>@marcoramires</li>
              <li><a href="https://twitter.com/marcoramires" target="_blank"><i class="fa fa-twitter"></i></a></li>
            </ul>
            <p class="social-links">© 2017 All rights reserved. Please read our <a href="/terms-conditions/">terms &amp; conditions</a>.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"></script>

    <!-- Vendor js -->
    <script src="{{site.baseurl}}/scripts/vendor/vendor.js"></script>

    <!-- Main js -->
    <script src="{{site.baseurl}}/scripts/main.js"></script>
    
</body>
</html>