<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{page.title}}</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    
    <!-- vendor css -->
    <link rel="stylesheet" href="../styles/vendor.css">
    <!-- slider revolution css -->
    <link rel="stylesheet" href="../revolution/css/revolution.all.css">
    <!-- main css -->
    <link rel="stylesheet" href="../styles/main.css">
    
    <!-- Preload -->
    <script src="../scripts/vendor/pace.min.js"></script>
    <!-- Modernizr -->
    <script src="../scripts/vendor/modernizr.js"></script>
  </head>
  <body class="new page-blog left-menu">
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- preloader -->    
    <div id="layer-loade">
      <p class="logo-intro">Shoot</p>
    </div>

    <!-- logo -->
    <header>
      <p class="logo"><a href="#" class="open-home"></a></p>
    </header>

    {% include menu.html %}
    
    <!-- intro -->
    <div class="intro">
      <div class="image-cover" style="background-image: url('../images/site/pictures/IMG_3180-1920x1080.jpg')">
        <div class="vcenter text-center">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <h1 class="primary-title invert">• toes on<strong>the noes•</strong></h1>
                <p class="post-primary-title invert">#almostdaily #mountaintosurf</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="container container-full">
        <!-- post -->
        <div class="row row-no-gutter">
          <div class="col-md-6">
            <div class="banner blog-2-image" id="blog-photo-post1"></div>
          </div>
          <div class="col-md-6">
            <div class="blog-2-text">
              <div class="vcenter blog-post-content">
                <div class="blog-post-header">
                  <p class="blog-post-date">07 June 2014  /  John Williams</p>
                </div>
                <div class="voffset40"></div>
                <h1 class="blog-post-title">standard blog post with image</h1>
                <div class="voffset20"></div>
                <p class="blog-post-intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac varius nisl. Vivamus sollicitudin imperdiet risus, non interdum justo posuere id. Nunc pellentesque ac nulla in blandit. Sed turpis orci, sodales non porta sit amet, euismod venenatis augue[...]</p>
                <div class="voffset40"></div>
                <ul class="post-share">
                  <li>share:</li>
                  <li><i class="fa fa-facebook"></i> facebook</li>
                  <li><i class="fa fa-twitter"></i> twitter</li>
                  <li><i class="fa fa-google-plus"></i> google+</li>
                  <li><i class="fa fa-instagram"></i> instagram</li>
                </ul>
                <div class="voffset50"></div>
                <a href="post.html" class="readfull">read full article</a>
                <div class="voffset50"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- post -->
        <div class="row row-no-gutter">
          <div class="col-md-6">
            <div class="banner blog-2-image" id="blog-photo-post2"></div>
          </div>
          <div class="col-md-6">
            <div class="blog-2-text">
              <div class="vcenter blog-post-content">
                <div class="blog-post-header">
                  <p class="blog-post-date">07 June 2014  /  John Williams</p>
                </div>
                <div class="voffset40"></div>
                <h1 class="blog-post-title">standard blog post with image</h1>
                <div class="voffset20"></div>
                <p class="blog-post-intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac varius nisl. Vivamus sollicitudin imperdiet risus, non interdum justo posuere id. Nunc pellentesque ac nulla in blandit. Sed turpis orci, sodales non porta sit amet, euismod venenatis augue[...]</p>
                <div class="voffset40"></div>
                <ul class="post-share">
                  <li>share:</li>
                  <li><i class="fa fa-facebook"></i> facebook</li>
                  <li><i class="fa fa-twitter"></i> twitter</li>
                  <li><i class="fa fa-google-plus"></i> google+</li>
                  <li><i class="fa fa-instagram"></i> instagram</li>
                </ul>
                <div class="voffset50"></div>
                <a href="post.html" class="readfull">read full article</a>
                <div class="voffset50"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- post -->
        <div class="row row-no-gutter">
          <div class="col-md-6">
            <div class="banner blog-2-image" id="blog-photo-post3"></div>
          </div>
          <div class="col-md-6">
            <div class="blog-2-text">
              <div class="vcenter blog-post-content">
                <div class="blog-post-header">
                  <p class="blog-post-date">07 June 2014  /  John Williams</p>
                </div>
                <div class="voffset40"></div>
                <h1 class="blog-post-title">standard blog post with image</h1>
                <div class="voffset20"></div>
                <p class="blog-post-intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac varius nisl. Vivamus sollicitudin imperdiet risus, non interdum justo posuere id. Nunc pellentesque ac nulla in blandit. Sed turpis orci, sodales non porta sit amet, euismod venenatis augue[...]</p>
                <div class="voffset40"></div>
                <ul class="post-share">
                  <li>share:</li>
                  <li><i class="fa fa-facebook"></i> facebook</li>
                  <li><i class="fa fa-twitter"></i> twitter</li>
                  <li><i class="fa fa-google-plus"></i> google+</li>
                  <li><i class="fa fa-instagram"></i> instagram</li>
                </ul>
                <div class="voffset50"></div>
                <a href="post.html" class="readfull">read full article</a>
                <div class="voffset50"></div>
              </div>
            </div>
          </div>
        </div>

        <!-- pagination -->
        <div class="row row-no-gutter">
          <div class="col-sm-6">
            <p class="paginationblog oldpost">old posts</p>
          </div>
          <div class="col-sm-6">
            <p class="paginationblog newpost">new posts</p>
          </div>
        </div>
      </div>
    </div>

    <!-- contenct with us -->
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul class="social-links">
              <li><a href="https://www.instagram.com/marcoramires/" target="_blank"><i class="fa fa-instagram"></i></a></li>
              <li>@marcoramires</li>
              <li><a href="https://twitter.com/marcoramires" target="_blank"><i class="fa fa-twitter"></i></a></li>
            </ul>
            <p class="social-links">© 2017 All rights reserved. Please read our <a href="/terms-conditions/">terms &amp; conditions</a>.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"></script>

    <!-- Vendor js -->
    <script src="../scripts/vendor/vendor.js"></script>

    <!-- Main js -->
    <script src="../scripts/main.js"></script>
    
</body>
</html>