<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="{{page.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{page.title}}</title>

    <meta property="og:type" content="website">
    <meta property="og:title" content="{{page.title}}">
    <meta property="og:description" content="{{page.description}}">
    <meta property="og:url" content="https://marcoramires.com/">
    <meta property="og:site_name" content="Marco Ramires Photography">
    <meta property="og:image" content="{{page.image}}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@marcoramires">
    <meta name="twitter:title" content="{{page.title}}">
    <meta name="twitter:description" content="{{page.description}}">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- vendor css -->
    <link rel="stylesheet" href="styles/vendor.css">

    <!-- main css -->
    <link rel="stylesheet" href="/styles/main.css">

    <!-- Preload -->
    <script src="scripts/vendor/pace.min.js"></script>
  </head>
  <body>

    <!-- preloader -->
    <div id="layer-loader">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    {% include header.html %}

    <section class="content banner" style="background: url('../images/site/slider-home/IMG_3180.jpg') center center no-repeat; background-size: cover;">
    </section>
    <section class="content">
      <div class="col-2" style="background: url('../images/site/slider-home/IMG_3180.jpg') center center no-repeat; background-size: cover;">
      </div>
      <div class="col-2">
        <div class="block">
          <h2>ABOUT ME</h2>
          <p><strong>Brazilian / Portuguese / Australian / Surfer / Inventor / Technologist / Programmer</strong></p>
          <p>My best friend once lent me a Pentax 35mm from his University and taught me how to capture light into film. The camera mechanism absolutely fascinated me and I was hooked.</p>
          <p>I thought... <i>"If my calculations are correct, when this baby hits 88 miles per hour... you're gonna see some serious shit."</i></p>
          <p>All the images you see on the site are for sale. For more information, or if you'd like to ask any questions about photography in general, please don't hesitate to contact me.</p>
          <p>- Marco Ramires</p>
        </div>
      </div>
    </section>

    <section class="content">
      <div>
        <div class="block">
          <h2>CONTACT ME</h2>
          <p>General Enquiries</p>
          <ul>
            <li>Email : info@marcoramires.com</li>
            <li>Bondi Beach - NSW - Australia</li>
            <li><a href="https://twitter.com/marcoramires" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.instagram.com/marcoramires/" target="_blank"><i class="fa fa-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    {% include footer.html %}

    <!-- Vendor js -->
    <script src="scripts/vendor/vendor.js"></script>
    <!-- Main js -->
    <script src="scripts/main.js"></script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-66126082-1', 'auto');
        ga('send', 'pageview');

    </script>
  </body>
</html>
