---
layout: default
---

<section class="image-cover" style="background-image: url({% asset blog/{{page.folder}}/{{page.ref}}-1920x1080.jpg @path optim='preset' %})"></section>

<section class="post">
    <h1>{{page.title}}</h1>
    <p>By {{page.author}} on {{page.date | date_to_string}}</p>
    <p>{{page.location}}</p>
    <hr>
    {{page.content}}
    <!-- pagination -->
    <hr>
    <div class="post-links">
        {% if page.previous.url and page.previous.categories contains "blog" %}
        <a href="{{page.previous.id}}">
            {% asset '{{page.previous.image}}' optim='preset'%}
            <p><span>{{page.previous.date | date_to_string}}</span><br/>{{page.previous.title}}</p>
        </a>
        {% endif %}
        {% if page.next.url and page.next.categories contains "blog" %}
        <a href="{{page.next.id}}">
            {% asset '{{page.next.image}}' optim='preset'%}
            <p><span>{{page.next.date | date_to_string}}</span><br/>{{page.next.title}}</p>
        </a>
        {% endif %}
    </div>
</section>
