---
layout: default
---

<div class="image-cover" style="background-image: url({% asset blog/{{page.folder}}/{{page.ref}}-1920x1080.jpg @path optim='preset' %})"></div>

<section class="post">
    <h1>{{page.title}}</h1>
    <p>By {{page.author}} on {{page.date | date_to_string}}</p>
    <p>{{page.location}}</p>
    <hr>
    {{page.content}}
    <!-- pagination -->
    <hr>
    {% if page.previous.url and page.previous.categories contains "blog" %}
    <a href="{{page.previous.id}}">
        <p><span>{{page.previous.date | date_to_string}}</span><span>{{page.previous.title}}</span></p>
    </a>
    {% endif %}
    {% if page.next.url and page.next.categories contains "blog" %}
    <a href="{{page.next.id}}">
        <p><span>{{page.next.date | date_to_string}}</span><span>{{page.next.title}}</span></p>
    </a>
    {% endif %}
</section>