<!-- Static navbar -->
<nav class="navbar">
    <div class="">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div class="close-nav"></div>
            <ul class="nav navbar-nav navbar-right">
                <li><a ui-sref="home" data-layer="/">Home</a></li>
                <li><a ui-sref="page-about" data-layer="page-about">About</a></li>
                <!--<li><a href="#" class="open-layer" data-layer="page-albums">Albums</a></li>-->
                <li><a ui-sref="page-gallery" data-layer="page-gallery">Gallery</a></li>
                <li><a href="">Blog (soon)</a></li>
                <li><a ui-sref="page-contact" data-layer="page-contact">Contact</a></li>
                <!--<li><a ui-sref="picture">picture</a></li>-->
            </ul>
            <ul class="social-links">
                <li><a href="https://www.instagram.com/marcoramires/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://twitter.com/marcoramires" target="_blank"><i class="fa fa-twitter"></i></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav><!--/.navbar -->
<div class="animate-content">
    <!-- intro -->
    <div class="intro">
        <div class="image-cover menu-bottom" id="post2-intro-slider01">
        </div>
    </div>
    <!-- post -->
    <div class="section post-whidout-sidebar">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-md-offset-3">
                    <div class="content-post post-without-sidebar">
                        <div class="post-extra">
                            <!--<div class="blog-post-author" id="blog2-post-author1"></div>-->
                            <a href="" class="button-blog ico-share"></a>
                        </div>
                        <h1 class="primary-title text-left">{{picture.details.name}}</h1>
                        <p class="blog-post-date block"><i class="icon fa fa-map-marker"></i>{{picture.details.location}} - {{picture.details.dateTaken}}</p>
                        <p class="blog-post-date block"><i class="icon fa fa-camera"></i>{{picture.details.camera}}</p>
                        <p class="blog-post-date block">Ref: {{picture.details.ref}}</p>
                        <img src="images/site/test_b.jpg" alt="">
                        <h2>Buy this image</h2>
                        <div class="plain-select">
                            <select name="ImageSize" id="ImageSize" ng-model="data.size">
                                <option value="" disabled="disabled" selected="selected">Select --</option>
                                <option ng-repeat="option in data.availableOptions" value="{{option.id}}">{{option.name}}</option>
                            </select>
                        </div>
                        <p class="header price" ng-show="data.size !== null">Total: {{data.availableOptions[data.size].price | currency: 'AUD$ ':0}}</p>
                        <p class="header" ng-show="data.size !== null">* Frame not included.</p>
                        <p>Production time : 10 days (excluding shipping)</p>
                        <button class="btn btn-primary open-layer" data- ng-disabled="data.size === null" data-layer="page-review">Order Now</button>
                        <!--<div id="paypal-button" ng-show="data.size !== null"></div>-->
                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam perferendis molestiae dolore quae mollitia placeat est amet similique, iure, consequatur possimus ipsa eius recusandae ex nostrum? Iste amet consequuntur magni. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci quaerat debitis earum et perspiciatis ipsum delectus minus suscipit, pariatur laboriosam nobis! Quas harum, delectus et unde in officia distinctio voluptatibus!</p>-->
                        <hr>
                        <h2>FAQ</h2>
                        <p class="header">Shipping costs</p>
                        <p>Free express shipping Australia-wide. Contact <a href="mailto:info@marcoramires.com">info@marcoramires.com</a> for other countries.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- pagination -->
    <!--<div class="section">-->
        <!--<div class="container container-full">-->
            <!--<div class="row row-no-gutter">-->
                <!--<div class="col-sm-6">-->
                    <!--<div class="paginationblog includeimage oldpost">-->
                        <!--<a href="post3.html">-->
                            <!--<div class="banner" id="post1-pagination-oldpost">-->
                                <!--<div class="voffset160"></div>-->
                            <!--</div>-->
                            <!--<p class="info">-->
                                <!--<span class="date-pagination">07 June 2014</span>-->
                                <!--<span class="title-pagination">standard post with video background</span>-->
                            <!--</p>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-6">-->
                    <!--<div class="paginationblog includeimage newpost">-->
                        <!--<a href="post3.html">-->
                            <!--<div class="banner" id="post1-pagination-newpost">-->
                                <!--<div class="voffset160"></div>-->
                            <!--</div>-->
                            <!--<p class="info">-->
                                <!--<span class="date-pagination">07 June 2014</span>-->
                                <!--<span class="title-pagination">standard post with video background</span>-->
                            <!--</p>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!-- contenct with us -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="social-links">
                        <li><a href="https://www.instagram.com/marcoramires/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li>@marcoramires</li>
                        <li><a href="https://twitter.com/marcoramires" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    </ul>
                    <p class="social-links">© 2017 All rights reserved. Please read our <a href="/terms-conditions/">terms &amp; conditions</a>.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="layer-page page-review">
        <!--<span class="close-layer">close</span>-->
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-md-offset-3 col-lg-5 col-lg-offset-3 col-">
                        <div class="content-section">
                            <div>
                                <h3>Review Order</h3>
                                <img src="images/site/test_b.jpg" alt="">
                                <p>{{data.picture}} </p>
                                <p>Print only:{{data.availableOptions[data.size].name}}</p>
                                <p class="price" ng-show="data.size !== null">Total: {{data.availableOptions[data.size].price | currency: 'AUD$ ':0}}</p>
                                <p>Available payments</p>
                                <p ng-show="!payments.loaded">Loading <i class="fa fa-spinner spin"></i></p>
                                <div id="paypal-button" ng-show="payments.loaded"></div>
                                <button class="btn btn-default change-order">Change order</button>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-sm-6">-->
                    <!--<div class="content-section">-->
                    <!--<div>-->
                    <!--<div id="map"></div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div><!--/.page-contact -->
</div>
<!--<script src="https://www.paypalobjects.com/api/checkout.js"></script>-->